{
  "openapi": "3.0.0",
  "info": {
    "description": "This API covers publicly accessible merchant actions",
    "title": "The Helcim API",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.helcim.com/v2/"
    }
  ],
  "tags": [
    {
      "description": "TODO",
      "name": "TODO"
    }
  ],
  "paths": {
    "/helcim-pay/initialize": {
      "post": {
        "operationId": "checkout-init",
        "parameters": [
          {
            "description": "API Access Token",
            "in": "header",
            "name": "api-token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "paymentType": {
                    "description": "Payment Type. Valid payment types are purchase | preauth | verify",
                    "example": "purchase",
                    "type": "string"
                  },
                  "amount": {
                    "description": "The amount of the transaction to be processed.",
                    "example": 100,
                    "type": "number"
                  },
                  "currency": {
                    "description": "Currency abbreviation. CAD | USD",
                    "example": "CAD",
                    "type": "string"
                  },
                  "customerCode": {
                    "description": "This is the code of an existing customer in Helcim associated with this checkout.",
                    "example": "CST1000",
                    "type": "string"
                  },
                  "invoiceNumber": {
                    "description": "This is the number of an existing invoice in Helcim associated with this checkout.",
                    "example": "INV1000",
                    "type": "string"
                  },
                  "paymentMethod": {
                    "description": "This is the payment method (credit card, ACH) that customer can use to pay the amount. cc | ach | cc-ach",
                    "example": "cc-ach",
                    "type": "string"
                  },
                  "allowPartial": {
                    "description": "This is used to determine whether the partial payment UI will be displayed to the customer.",
                    "example": 1,
                    "type": "number"
                  },
                  "hasConvenienceFee": {
                    "description": "This is used to apply the convenience fee rate to credit card transaction should customer chooses this payment method.",
                    "example": 1,
                    "type": "number"
                  },
                  "taxAmount": {
                    "description": "This is used to enable level 2 processing lower rates. The value should be the dollar amount of the tax to 2 decimal places.",
                    "example": 3.67,
                    "type": "number"
                  },
                  "hideExistingPaymentDetails": {
                    "description": "This is used to hide the existing payment information of the customer.",
                    "example": 1,
                    "type": "number"
                  },
                  "setAsDefaultPaymentMethod": {
                    "description": "This is used to set the payment method of the transaction to default for that customer.",
                    "example": 1,
                    "type": "number"
                  },
                  "terminalId": {
                    "description": "This is used to process the card transaction on the specified terminal.",
                    "example": 1,
                    "type": "number"
                  },
                  "customerRequest": {
                    "properties": {
                      "customerCode": {
                        "description": "The unique customer code. If blank, it will be automatically generated.",
                        "example": "CST1000",
                        "type": "string"
                      },
                      "contactName": {
                        "description": "The primary contact name (full name) of the customer.",
                        "example": "John Smith",
                        "type": "string"
                      },
                      "businessName": {
                        "description": "The business name of the customer. There must be either a contact name or business name present.",
                        "example": "Best Company",
                        "type": "string"
                      },
                      "cellPhone": {
                        "description": "The cell phone number of the customer.",
                        "example": "123-456-7890",
                        "type": "string"
                      },
                      "billingAddress": {
                        "properties": {
                          "name": {
                            "description": "Contact Name or Business Name",
                            "example": "John Smith/Helcim",
                            "type": "string"
                          },
                          "street1": {
                            "example": "123 Street",
                            "type": "string"
                          },
                          "street2": {
                            "type": "string"
                          },
                          "city": {
                            "example": "Calgary",
                            "type": "string"
                          },
                          "province": {
                            "description": "2 letter abbreviation of the province (AB, BC, CA). Required field if country is CAN or USA.",
                            "example": "AB",
                            "type": "string"
                          },
                          "country": {
                            "description": "3-letter abbreviation of the country (CAN, USA)",
                            "example": "CAN",
                            "type": "string"
                          },
                          "postalCode": {
                            "example": "H0H0H0",
                            "type": "string"
                          },
                          "phone": {
                            "description": "10 to 15 digits phone number.",
                            "example": "1234567890",
                            "type": "string"
                          },
                          "email": {
                            "example": "john@example.com",
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "postalCode",
                          "street1"
                        ],
                        "title": "Address",
                        "type": "object"
                      },
                      "shippingAddress": {
                        "properties": {
                          "name": {
                            "description": "Contact Name or Business Name",
                            "example": "John Smith/Helcim",
                            "type": "string"
                          },
                          "street1": {
                            "example": "123 Street",
                            "type": "string"
                          },
                          "street2": {
                            "type": "string"
                          },
                          "city": {
                            "example": "Calgary",
                            "type": "string"
                          },
                          "province": {
                            "description": "2 letter abbreviation of the province (AB, BC, CA). Required field if country is CAN or USA.",
                            "example": "AB",
                            "type": "string"
                          },
                          "country": {
                            "description": "3-letter abbreviation of the country (CAN, USA)",
                            "example": "CAN",
                            "type": "string"
                          },
                          "postalCode": {
                            "example": "H0H0H0",
                            "type": "string"
                          },
                          "phone": {
                            "description": "10 to 15 digits phone number.",
                            "example": "1234567890",
                            "type": "string"
                          },
                          "email": {
                            "example": "john@example.com",
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "postalCode",
                          "street1"
                        ],
                        "title": "Address",
                        "type": "object"
                      }
                    },
                    "required": [
                      "contactName"
                    ],
                    "title": "Customer Request",
                    "type": "object"
                  },
                  "invoiceRequest": {
                    "properties": {
                      "invoiceNumber": {
                        "description": "The unique invoice number. If blank, it will be automatically generated.",
                        "example": "INV1000",
                        "type": "string"
                      },
                      "tipAmount": {
                        "example": 0,
                        "type": "number"
                      },
                      "depositAmount": {
                        "example": 0,
                        "type": "number"
                      },
                      "notes": {
                        "description": "The content that would be displayed under comment section of the invoice.",
                        "type": "string"
                      },
                      "shipping": {
                        "properties": {
                          "amount": {
                            "example": 0,
                            "type": "number"
                          },
                          "details": {
                            "example": "Standard Shipping",
                            "type": "string"
                          },
                          "address": {
                            "properties": {
                              "name": {
                                "description": "Contact Name or Business Name",
                                "example": "John Smith/Helcim",
                                "type": "string"
                              },
                              "street1": {
                                "example": "123 Street",
                                "type": "string"
                              },
                              "street2": {
                                "type": "string"
                              },
                              "city": {
                                "example": "Calgary",
                                "type": "string"
                              },
                              "province": {
                                "description": "2 letter abbreviation of the province (AB, BC, CA). Required field if country is CAN or USA.",
                                "example": "AB",
                                "type": "string"
                              },
                              "country": {
                                "description": "3-letter abbreviation of the country (CAN, USA)",
                                "example": "CAN",
                                "type": "string"
                              },
                              "postalCode": {
                                "example": "H0H0H0",
                                "type": "string"
                              },
                              "phone": {
                                "description": "10 to 15 digits phone number.",
                                "example": "1234567890",
                                "type": "string"
                              },
                              "email": {
                                "example": "john@example.com",
                                "type": "string"
                              }
                            },
                            "required": [
                              "name",
                              "postalCode",
                              "street1"
                            ],
                            "title": "Address",
                            "type": "object"
                          }
                        },
                        "required": [
                          "address",
                          "amount",
                          "details"
                        ],
                        "type": "object"
                      },
                      "pickup": {
                        "properties": {
                          "date": {
                            "description": "The date for the pickup.",
                            "type": "string"
                          },
                          "name": {
                            "description": "The name of the person who would pickup the item.",
                            "example": "John Smith",
                            "type": "string"
                          }
                        },
                        "required": [
                          "date"
                        ],
                        "type": "object"
                      },
                      "tax": {
                        "properties": {
                          "amount": {
                            "example": 1.25,
                            "type": "number"
                          },
                          "details": {
                            "example": "GST",
                            "type": "string"
                          }
                        },
                        "required": [
                          "amount",
                          "details"
                        ],
                        "type": "object"
                      },
                      "discount": {
                        "properties": {
                          "amount": {
                            "example": 5.25,
                            "type": "number"
                          },
                          "details": {
                            "example": "Spring Sale",
                            "type": "string"
                          }
                        },
                        "required": [
                          "amount",
                          "details"
                        ],
                        "type": "object"
                      },
                      "lineItems": {
                        "description": "Array of invoice items.",
                        "items": {
                          "properties": {
                            "sku": {
                              "type": "string"
                            },
                            "description": {
                              "description": "The description of the item or product.",
                              "type": "string"
                            },
                            "quantity": {
                              "description": "Quantity of the item.",
                              "example": 0,
                              "type": "number"
                            },
                            "price": {
                              "description": "Unit price of the item.",
                              "example": 0,
                              "type": "number"
                            },
                            "total": {
                              "description": "Total amount based on quantity and price of the item.",
                              "example": 0,
                              "type": "number"
                            },
                            "taxAmount": {
                              "description": "Tax amount on the item.",
                              "example": 0,
                              "type": "number"
                            },
                            "discountAmount": {
                              "description": "Discount amount on the item.",
                              "example": 0,
                              "type": "number"
                            }
                          },
                          "required": [
                            "description",
                            "price",
                            "quantity",
                            "total"
                          ],
                          "title": "Line Item",
                          "type": "object"
                        },
                        "type": "array"
                      }
                    },
                    "required": [
                      "contactName"
                    ],
                    "title": "Invoice Request",
                    "type": "object"
                  }
                },
                "required": [
                  "amount",
                  "currency",
                  "paymentType"
                ],
                "title": "Helcim Pay Initialize",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "checkoutToken": {
                      "description": "The checkout token is used to initialize Helcim Pay",
                      "type": "string"
                    },
                    "secretToken": {
                      "description": "The secret token is used to validate the transaction response",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "description": "List of errors",
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Failed"
          }
        },
        "summary": "Creates a HelcimPay.js Checkout Session",
        "tags": [
          "Helcim Pay"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "HelcimPayInitializeRequest": {
        "properties": {
          "paymentType": {
            "description": "Payment Type. Valid payment types are purchase | preauth | verify",
            "example": "purchase",
            "type": "string"
          },
          "amount": {
            "description": "The amount of the transaction to be processed.",
            "example": 100,
            "type": "number"
          },
          "currency": {
            "description": "Currency abbreviation. CAD | USD",
            "example": "CAD",
            "type": "string"
          },
          "customerCode": {
            "description": "This is the code of an existing customer in Helcim associated with this checkout.",
            "example": "CST1000",
            "type": "string"
          },
          "invoiceNumber": {
            "description": "This is the number of an existing invoice in Helcim associated with this checkout.",
            "example": "INV1000",
            "type": "string"
          },
          "paymentMethod": {
            "description": "This is the payment method (credit card, ACH) that customer can use to pay the amount. cc | ach | cc-ach",
            "example": "cc-ach",
            "type": "string"
          },
          "allowPartial": {
            "description": "This is used to determine whether the partial payment UI will be displayed to the customer.",
            "example": 1,
            "type": "number"
          },
          "hasConvenienceFee": {
            "description": "This is used to apply the convenience fee rate to credit card transaction should customer chooses this payment method.",
            "example": 1,
            "type": "number"
          },
          "taxAmount": {
            "description": "This is used to enable level 2 processing lower rates. The value should be the dollar amount of the tax to 2 decimal places.",
            "example": 3.67,
            "type": "number"
          },
          "hideExistingPaymentDetails": {
            "description": "This is used to hide the existing payment information of the customer.",
            "example": 1,
            "type": "number"
          },
          "setAsDefaultPaymentMethod": {
            "description": "This is used to set the payment method of the transaction to default for that customer.",
            "example": 1,
            "type": "number"
          },
          "terminalId": {
            "description": "This is used to process the card transaction on the specified terminal.",
            "example": 1,
            "type": "number"
          },
          "customerRequest": {
            "properties": {
              "customerCode": {
                "description": "The unique customer code. If blank, it will be automatically generated.",
                "example": "CST1000",
                "type": "string"
              },
              "contactName": {
                "description": "The primary contact name (full name) of the customer.",
                "example": "John Smith",
                "type": "string"
              },
              "businessName": {
                "description": "The business name of the customer. There must be either a contact name or business name present.",
                "example": "Best Company",
                "type": "string"
              },
              "cellPhone": {
                "description": "The cell phone number of the customer.",
                "example": "123-456-7890",
                "type": "string"
              },
              "billingAddress": {
                "properties": {
                  "name": {
                    "description": "Contact Name or Business Name",
                    "example": "John Smith/Helcim",
                    "type": "string"
                  },
                  "street1": {
                    "example": "123 Street",
                    "type": "string"
                  },
                  "street2": {
                    "type": "string"
                  },
                  "city": {
                    "example": "Calgary",
                    "type": "string"
                  },
                  "province": {
                    "description": "2 letter abbreviation of the province (AB, BC, CA). Required field if country is CAN or USA.",
                    "example": "AB",
                    "type": "string"
                  },
                  "country": {
                    "description": "3-letter abbreviation of the country (CAN, USA)",
                    "example": "CAN",
                    "type": "string"
                  },
                  "postalCode": {
                    "example": "H0H0H0",
                    "type": "string"
                  },
                  "phone": {
                    "description": "10 to 15 digits phone number.",
                    "example": "1234567890",
                    "type": "string"
                  },
                  "email": {
                    "example": "john@example.com",
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "postalCode",
                  "street1"
                ],
                "title": "Address",
                "type": "object"
              },
              "shippingAddress": {
                "properties": {
                  "name": {
                    "description": "Contact Name or Business Name",
                    "example": "John Smith/Helcim",
                    "type": "string"
                  },
                  "street1": {
                    "example": "123 Street",
                    "type": "string"
                  },
                  "street2": {
                    "type": "string"
                  },
                  "city": {
                    "example": "Calgary",
                    "type": "string"
                  },
                  "province": {
                    "description": "2 letter abbreviation of the province (AB, BC, CA). Required field if country is CAN or USA.",
                    "example": "AB",
                    "type": "string"
                  },
                  "country": {
                    "description": "3-letter abbreviation of the country (CAN, USA)",
                    "example": "CAN",
                    "type": "string"
                  },
                  "postalCode": {
                    "example": "H0H0H0",
                    "type": "string"
                  },
                  "phone": {
                    "description": "10 to 15 digits phone number.",
                    "example": "1234567890",
                    "type": "string"
                  },
                  "email": {
                    "example": "john@example.com",
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "postalCode",
                  "street1"
                ],
                "title": "Address",
                "type": "object"
              }
            },
            "required": [
              "contactName"
            ],
            "title": "Customer Request",
            "type": "object"
          },
          "invoiceRequest": {
            "properties": {
              "invoiceNumber": {
                "description": "The unique invoice number. If blank, it will be automatically generated.",
                "example": "INV1000",
                "type": "string"
              },
              "tipAmount": {
                "example": 0,
                "type": "number"
              },
              "depositAmount": {
                "example": 0,
                "type": "number"
              },
              "notes": {
                "description": "The content that would be displayed under comment section of the invoice.",
                "type": "string"
              },
              "shipping": {
                "properties": {
                  "amount": {
                    "example": 0,
                    "type": "number"
                  },
                  "details": {
                    "example": "Standard Shipping",
                    "type": "string"
                  },
                  "address": {
                    "properties": {
                      "name": {
                        "description": "Contact Name or Business Name",
                        "example": "John Smith/Helcim",
                        "type": "string"
                      },
                      "street1": {
                        "example": "123 Street",
                        "type": "string"
                      },
                      "street2": {
                        "type": "string"
                      },
                      "city": {
                        "example": "Calgary",
                        "type": "string"
                      },
                      "province": {
                        "description": "2 letter abbreviation of the province (AB, BC, CA). Required field if country is CAN or USA.",
                        "example": "AB",
                        "type": "string"
                      },
                      "country": {
                        "description": "3-letter abbreviation of the country (CAN, USA)",
                        "example": "CAN",
                        "type": "string"
                      },
                      "postalCode": {
                        "example": "H0H0H0",
                        "type": "string"
                      },
                      "phone": {
                        "description": "10 to 15 digits phone number.",
                        "example": "1234567890",
                        "type": "string"
                      },
                      "email": {
                        "example": "john@example.com",
                        "type": "string"
                      }
                    },
                    "required": [
                      "name",
                      "postalCode",
                      "street1"
                    ],
                    "title": "Address",
                    "type": "object"
                  }
                },
                "required": [
                  "address",
                  "amount",
                  "details"
                ],
                "type": "object"
              },
              "pickup": {
                "properties": {
                  "date": {
                    "description": "The date for the pickup.",
                    "type": "string"
                  },
                  "name": {
                    "description": "The name of the person who would pickup the item.",
                    "example": "John Smith",
                    "type": "string"
                  }
                },
                "required": [
                  "date"
                ],
                "type": "object"
              },
              "tax": {
                "properties": {
                  "amount": {
                    "example": 1.25,
                    "type": "number"
                  },
                  "details": {
                    "example": "GST",
                    "type": "string"
                  }
                },
                "required": [
                  "amount",
                  "details"
                ],
                "type": "object"
              },
              "discount": {
                "properties": {
                  "amount": {
                    "example": 5.25,
                    "type": "number"
                  },
                  "details": {
                    "example": "Spring Sale",
                    "type": "string"
                  }
                },
                "required": [
                  "amount",
                  "details"
                ],
                "type": "object"
              },
              "lineItems": {
                "description": "Array of invoice items.",
                "items": {
                  "properties": {
                    "sku": {
                      "type": "string"
                    },
                    "description": {
                      "description": "The description of the item or product.",
                      "type": "string"
                    },
                    "quantity": {
                      "description": "Quantity of the item.",
                      "example": 0,
                      "type": "number"
                    },
                    "price": {
                      "description": "Unit price of the item.",
                      "example": 0,
                      "type": "number"
                    },
                    "total": {
                      "description": "Total amount based on quantity and price of the item.",
                      "example": 0,
                      "type": "number"
                    },
                    "taxAmount": {
                      "description": "Tax amount on the item.",
                      "example": 0,
                      "type": "number"
                    },
                    "discountAmount": {
                      "description": "Discount amount on the item.",
                      "example": 0,
                      "type": "number"
                    }
                  },
                  "required": [
                    "description",
                    "price",
                    "quantity",
                    "total"
                  ],
                  "title": "Line Item",
                  "type": "object"
                },
                "type": "array"
              }
            },
            "required": [
              "contactName"
            ],
            "title": "Invoice Request",
            "type": "object"
          }
        },
        "required": [
          "amount",
          "currency",
          "paymentType"
        ],
        "title": "Helcim Pay Initialize",
        "type": "object"
      },
      "CustomerRequest": {
        "properties": {
          "customerCode": {
            "description": "The unique customer code. If blank, it will be automatically generated.",
            "example": "CST1000",
            "type": "string"
          },
          "contactName": {
            "description": "The primary contact name (full name) of the customer.",
            "example": "John Smith",
            "type": "string"
          },
          "businessName": {
            "description": "The business name of the customer. There must be either a contact name or business name present.",
            "example": "Best Company",
            "type": "string"
          },
          "cellPhone": {
            "description": "The cell phone number of the customer.",
            "example": "123-456-7890",
            "type": "string"
          },
          "billingAddress": {
            "properties": {
              "name": {
                "description": "Contact Name or Business Name",
                "example": "John Smith/Helcim",
                "type": "string"
              },
              "street1": {
                "example": "123 Street",
                "type": "string"
              },
              "street2": {
                "type": "string"
              },
              "city": {
                "example": "Calgary",
                "type": "string"
              },
              "province": {
                "description": "2 letter abbreviation of the province (AB, BC, CA). Required field if country is CAN or USA.",
                "example": "AB",
                "type": "string"
              },
              "country": {
                "description": "3-letter abbreviation of the country (CAN, USA)",
                "example": "CAN",
                "type": "string"
              },
              "postalCode": {
                "example": "H0H0H0",
                "type": "string"
              },
              "phone": {
                "description": "10 to 15 digits phone number.",
                "example": "1234567890",
                "type": "string"
              },
              "email": {
                "example": "john@example.com",
                "type": "string"
              }
            },
            "required": [
              "name",
              "postalCode",
              "street1"
            ],
            "title": "Address",
            "type": "object"
          },
          "shippingAddress": {
            "properties": {
              "name": {
                "description": "Contact Name or Business Name",
                "example": "John Smith/Helcim",
                "type": "string"
              },
              "street1": {
                "example": "123 Street",
                "type": "string"
              },
              "street2": {
                "type": "string"
              },
              "city": {
                "example": "Calgary",
                "type": "string"
              },
              "province": {
                "description": "2 letter abbreviation of the province (AB, BC, CA). Required field if country is CAN or USA.",
                "example": "AB",
                "type": "string"
              },
              "country": {
                "description": "3-letter abbreviation of the country (CAN, USA)",
                "example": "CAN",
                "type": "string"
              },
              "postalCode": {
                "example": "H0H0H0",
                "type": "string"
              },
              "phone": {
                "description": "10 to 15 digits phone number.",
                "example": "1234567890",
                "type": "string"
              },
              "email": {
                "example": "john@example.com",
                "type": "string"
              }
            },
            "required": [
              "name",
              "postalCode",
              "street1"
            ],
            "title": "Address",
            "type": "object"
          }
        },
        "required": [
          "contactName"
        ],
        "title": "Customer Request",
        "type": "object"
      },
      "InvoiceRequest": {
        "properties": {
          "invoiceNumber": {
            "description": "The unique invoice number. If blank, it will be automatically generated.",
            "example": "INV1000",
            "type": "string"
          },
          "tipAmount": {
            "example": 0,
            "type": "number"
          },
          "depositAmount": {
            "example": 0,
            "type": "number"
          },
          "notes": {
            "description": "The content that would be displayed under comment section of the invoice.",
            "type": "string"
          },
          "shipping": {
            "properties": {
              "amount": {
                "example": 0,
                "type": "number"
              },
              "details": {
                "example": "Standard Shipping",
                "type": "string"
              },
              "address": {
                "properties": {
                  "name": {
                    "description": "Contact Name or Business Name",
                    "example": "John Smith/Helcim",
                    "type": "string"
                  },
                  "street1": {
                    "example": "123 Street",
                    "type": "string"
                  },
                  "street2": {
                    "type": "string"
                  },
                  "city": {
                    "example": "Calgary",
                    "type": "string"
                  },
                  "province": {
                    "description": "2 letter abbreviation of the province (AB, BC, CA). Required field if country is CAN or USA.",
                    "example": "AB",
                    "type": "string"
                  },
                  "country": {
                    "description": "3-letter abbreviation of the country (CAN, USA)",
                    "example": "CAN",
                    "type": "string"
                  },
                  "postalCode": {
                    "example": "H0H0H0",
                    "type": "string"
                  },
                  "phone": {
                    "description": "10 to 15 digits phone number.",
                    "example": "1234567890",
                    "type": "string"
                  },
                  "email": {
                    "example": "john@example.com",
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "postalCode",
                  "street1"
                ],
                "title": "Address",
                "type": "object"
              }
            },
            "required": [
              "address",
              "amount",
              "details"
            ],
            "type": "object"
          },
          "pickup": {
            "properties": {
              "date": {
                "description": "The date for the pickup.",
                "type": "string"
              },
              "name": {
                "description": "The name of the person who would pickup the item.",
                "example": "John Smith",
                "type": "string"
              }
            },
            "required": [
              "date"
            ],
            "type": "object"
          },
          "tax": {
            "properties": {
              "amount": {
                "example": 1.25,
                "type": "number"
              },
              "details": {
                "example": "GST",
                "type": "string"
              }
            },
            "required": [
              "amount",
              "details"
            ],
            "type": "object"
          },
          "discount": {
            "properties": {
              "amount": {
                "example": 5.25,
                "type": "number"
              },
              "details": {
                "example": "Spring Sale",
                "type": "string"
              }
            },
            "required": [
              "amount",
              "details"
            ],
            "type": "object"
          },
          "lineItems": {
            "description": "Array of invoice items.",
            "items": {
              "properties": {
                "sku": {
                  "type": "string"
                },
                "description": {
                  "description": "The description of the item or product.",
                  "type": "string"
                },
                "quantity": {
                  "description": "Quantity of the item.",
                  "example": 0,
                  "type": "number"
                },
                "price": {
                  "description": "Unit price of the item.",
                  "example": 0,
                  "type": "number"
                },
                "total": {
                  "description": "Total amount based on quantity and price of the item.",
                  "example": 0,
                  "type": "number"
                },
                "taxAmount": {
                  "description": "Tax amount on the item.",
                  "example": 0,
                  "type": "number"
                },
                "discountAmount": {
                  "description": "Discount amount on the item.",
                  "example": 0,
                  "type": "number"
                }
              },
              "required": [
                "description",
                "price",
                "quantity",
                "total"
              ],
              "title": "Line Item",
              "type": "object"
            },
            "type": "array"
          }
        },
        "required": [
          "contactName"
        ],
        "title": "Invoice Request",
        "type": "object"
      },
      "Address": {
        "properties": {
          "name": {
            "description": "Contact Name or Business Name",
            "example": "John Smith/Helcim",
            "type": "string"
          },
          "street1": {
            "example": "123 Street",
            "type": "string"
          },
          "street2": {
            "type": "string"
          },
          "city": {
            "example": "Calgary",
            "type": "string"
          },
          "province": {
            "description": "2 letter abbreviation of the province (AB, BC, CA). Required field if country is CAN or USA.",
            "example": "AB",
            "type": "string"
          },
          "country": {
            "description": "3-letter abbreviation of the country (CAN, USA)",
            "example": "CAN",
            "type": "string"
          },
          "postalCode": {
            "example": "H0H0H0",
            "type": "string"
          },
          "phone": {
            "description": "10 to 15 digits phone number.",
            "example": "1234567890",
            "type": "string"
          },
          "email": {
            "example": "john@example.com",
            "type": "string"
          }
        },
        "required": [
          "name",
          "postalCode",
          "street1"
        ],
        "title": "Address",
        "type": "object"
      },
      "LineItem": {
        "properties": {
          "sku": {
            "type": "string"
          },
          "description": {
            "description": "The description of the item or product.",
            "type": "string"
          },
          "quantity": {
            "description": "Quantity of the item.",
            "example": 0,
            "type": "number"
          },
          "price": {
            "description": "Unit price of the item.",
            "example": 0,
            "type": "number"
          },
          "total": {
            "description": "Total amount based on quantity and price of the item.",
            "example": 0,
            "type": "number"
          },
          "taxAmount": {
            "description": "Tax amount on the item.",
            "example": 0,
            "type": "number"
          },
          "discountAmount": {
            "description": "Discount amount on the item.",
            "example": 0,
            "type": "number"
          }
        },
        "required": [
          "description",
          "price",
          "quantity",
          "total"
        ],
        "title": "Line Item",
        "type": "object"
      },
      "checkout_init_200_response": {
        "properties": {
          "checkoutToken": {
            "description": "The checkout token is used to initialize Helcim Pay",
            "type": "string"
          },
          "secretToken": {
            "description": "The secret token is used to validate the transaction response",
            "type": "string"
          }
        },
        "type": "object"
      },
      "checkout_init_default_response": {
        "properties": {
          "errors": {
            "description": "List of errors",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "InvoiceRequest_shipping": {
        "properties": {
          "amount": {
            "example": 0,
            "type": "number"
          },
          "details": {
            "example": "Standard Shipping",
            "type": "string"
          },
          "address": {
            "properties": {
              "name": {
                "description": "Contact Name or Business Name",
                "example": "John Smith/Helcim",
                "type": "string"
              },
              "street1": {
                "example": "123 Street",
                "type": "string"
              },
              "street2": {
                "type": "string"
              },
              "city": {
                "example": "Calgary",
                "type": "string"
              },
              "province": {
                "description": "2 letter abbreviation of the province (AB, BC, CA). Required field if country is CAN or USA.",
                "example": "AB",
                "type": "string"
              },
              "country": {
                "description": "3-letter abbreviation of the country (CAN, USA)",
                "example": "CAN",
                "type": "string"
              },
              "postalCode": {
                "example": "H0H0H0",
                "type": "string"
              },
              "phone": {
                "description": "10 to 15 digits phone number.",
                "example": "1234567890",
                "type": "string"
              },
              "email": {
                "example": "john@example.com",
                "type": "string"
              }
            },
            "required": [
              "name",
              "postalCode",
              "street1"
            ],
            "title": "Address",
            "type": "object"
          }
        },
        "required": [
          "address",
          "amount",
          "details"
        ],
        "type": "object"
      },
      "InvoiceRequest_pickup": {
        "properties": {
          "date": {
            "description": "The date for the pickup.",
            "type": "string"
          },
          "name": {
            "description": "The name of the person who would pickup the item.",
            "example": "John Smith",
            "type": "string"
          }
        },
        "required": [
          "date"
        ],
        "type": "object"
      },
      "InvoiceRequest_tax": {
        "properties": {
          "amount": {
            "example": 1.25,
            "type": "number"
          },
          "details": {
            "example": "GST",
            "type": "string"
          }
        },
        "required": [
          "amount",
          "details"
        ],
        "type": "object"
      },
      "InvoiceRequest_discount": {
        "properties": {
          "amount": {
            "example": 5.25,
            "type": "number"
          },
          "details": {
            "example": "Spring Sale",
            "type": "string"
          }
        },
        "required": [
          "amount",
          "details"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "ApiAccessAuth": {
        "description": "API Token",
        "in": "header",
        "name": "api-token",
        "type": "apiKey"
      }
    }
  }
}