@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@font-face {
  font-family: 'Kuhlenbach';
  src: url(/fonts/Kuhlenbach-VG0yZ.ttf) format('truetype');
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/gotham%20book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'OSans';
  src:url('/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.darkmode {
  --background-color: #000000;
  --logo: url('/logo-dark.png');
}

.lightmode {
  --background-color: #ffffff;
  --logo: url('/logo-light.png');
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px; /* Initially off-screen */
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  align-items: flex-start;
  justify-content: flex-start;
  transition: right 0.3s ease-in-out;
}

/* When active, the sidebar is visible */
.sidebar.active {
  right: 0;
}


/* Hide number input spin buttons in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spin buttons in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Hide elements on mobile */
@media (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
}


.my-carousel-dots button {
  /* Remove default button styles */
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  /* Make the dots circles */
  width: 10px;
  height: 10px;
  border-radius: 50%;

  /* Set the default dot color */
  background-color: #ccc; /* Example color */
}

.accordion {
  display: flex;
  flex-direction: row; /* Horizontal layout */
}

.accordion-item {
  display: flex;
  flex-direction: column;
}

.accordion-content {
  display: none; /* Hidden by default */
  flex: 1;
}

.accordion-item.open .accordion-content {
  display: block; /* Show when open */
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s forwards;
}

/* .fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards;
} */

/* Ensure navbar starts with a black background */
.navbar {
  position: sticky;
  top: 0;
  background-color: black ;  /* Set initial background to black */
  z-index: 50; /* Keep it on top */
}

/* Adjust the navbar background when sticky on scroll (optional if you need transparency) */
.navbar.sticky {
  background-color: rgba(0, 0, 0, 0.8); /* Slight transparency when scrolling */
}


.resizer {
  display: inline-block;
  width: 5px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
  z-index: 1;
  touch-action:none;
}

.resizer:hover,
.resizer.isResizing {
  background: rgba(0, 0, 0, 0.1);
}



/* styles/globals.css */

/* FullCalendar Customization */
.fc .fc-toolbar-title {
  @apply text-2xl font-oSans;
}

.fc .fc-button {
  @apply bg-gray-600 text-white px-2 py-1 rounded-none hover:bg-gray-900 border-none;
}

/* .fc .fc-daygrid-event {
  @apply bg-green-300 rounded px-1;
} */

/* .fc .fc-daygrid-day {
  @apply border border-gray-200;
} */

.fc .fc-day-today {
  @apply bg-yellow-100;
}

/* Additional Styling */
.fc-event {
  cursor: pointer;
}

.fc .fc-toolbar {
  @apply mb-4;
}


.fc-event-title-container {
  white-space: normal !important;
  word-wrap: break-word !important;
}